{% extends 'template.html' %}

{% block title %}Sign in{% endblock %}

{% block body%} 
<div class="container mt-5">
    <h1 style="color: antiquewhite; justify-content: center; align-items: center; text-align: center;">Авторизация</h1>
    <form method="post" style="width: 70%; margin-left: 15%; margin-top: 15px;">
        <p>Введите ваш логин</p>
        <input type="text" name="username" id="username" class="form-control"><br>
        <p>Введите ваш пароль</p>
        <input type="password" name="password" id="password" class="form-control"><br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="remember" id="remember" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Запомнить меня
            </label>
        </div>
        <input type="submit" class="btn btn-success" value="Авторизоваться">
    </form>
</div>
{% endblock %}